@import './index.scss';

.page {
  width: 100%;
  min-height: 100%;
  background: $bg;
}
.header {
  height: 48px;
  padding: 0 24px;
}
.homeLink {
  color: lighten($c-font, 40%);
  font-family: 'Sansita Swashed', cursive;
  font-size: 24px;
  line-height: 48px;
  &:hover {
    filter: brightness(1.4);
  }
}
.link {
  color: darken($c-font, 20%);
  margin-left: 8px;
  font-family: Montserrat;
}

.menu {
  width: 120px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: scroll;
  &::after {
    content: '';
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent,
      darken($c-font, 30%) 2%,
      98%,
      transparent
    );
    position: absolute;
    top: 0;
    z-index: -1;
    left: 20px;
  }
}
.menuItem {
  color: darken($c-font, 30%);
  padding-left: 40px;
  line-height: 50px;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    border: 10px solid transparent;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: darken($c-font, 30%);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    filter: brightness(2);
  }
  &--active {
    color: $c-highlight;
    &::after {
      border-left-color: $c-highlight;
    }
  }
}

.content {
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
  padding: 30px 50px 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
